.add-entity {
    .input-area {
        display: flex;
        flex-wrap: wrap;

        .hidden {
            display: none;
        }

        .input-item {
            flex: 1 0 calc(50% - 40px);
            display: flex;
            align-items: center;

            label {
                flex-basis: 1;
            }

            input {
                flex-basis: 3;
                margin: 5px 10px 5px 10px;
            }

            button {
                flex-basis: 1;
            }
        }
    }
    .dropbox {
        width: 100%;
        max-height: 60px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        &.empty {
            display: grid;
            border-radius: 5px;
            border: 2px rgb(141, 166, 217) dotted;
            background-color: rgb(92, 102, 122);
            justify-content: center;
            align-content: center;
        }

        img {
            height: 60px;
            width: 60px;
            margin-right: 5px;
        }
    }
}
