.add-faction {
    section {
        display: flex;
        align-items: center;

        label {
            flex-basis: 1;
            margin: 10px;
        }

        input {
            flex-basis: 3;
        }
    }
}
