.entity-log {
    display: flex;
    flex-direction: column;
    > div:nth-child(even) {
        background-color: #181629;
    }

    .entity-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em;

        .positive {
            color: lightgreen;
        }
        .negative {
            color: lightcoral;
        }

        #date-time {
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                justify-content: right;
            }
        }
    }
}
