<section>
    <div>
        <h1>Select a template</h1>
        <div class="template-selection">
            <select name="template" id="settings-template-select">
                {{#each templatesOption as |option|}}
                    <option id="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <span id="settings-template-description"></span>
            <button type="button" data-action="applyTemplate">Apply Template</button>
        </div>
    </div>
    <span><h1>OR</h1></span>
    <div>
        <h1>Import a custom template</h1>
        <div class="template-import">
            <input type="file" id="settingsFile" />
            <button type="button" data-action="importTemplate">
                <i class="fa-solid fa-download"></i>
                Import
            </button>
        </div>
    </div>
</section>