.reputation-settings {
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;

    .title-header {
        h1 {
            margin: 0 0 0 10px;
            line-height: normal;
        }
        pointer-events: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.preview {
        h1 {
            justify-self: center;
            margin: 0 0 0.5rem 0;
        }
        h2 {
            margin: 0 0 5px 0;
        }
        p {
            margin: 0 0 1rem 0;
            font-style: italic;
            justify-self: center;
        }
        .faction-item {
            width: 100%;
        }
        .entity-item {
            margin-bottom: 15px;
        }
    }

    .setting {
        display: flex;
        justify-content: space-between;
        align-content: center;
        max-height: 1000px;
        width: 98%;
        margin-top: 15px;

        .title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        &.vertical {
            flex-direction: column;
        }

        .array-setting {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .info {
            display: flex;
            flex-direction: column;
            width: 100%;

            .hint {
                margin-top: 5px;
                padding-left: 10px;
                font-style: italic;
            }
        }

        .sub-settings {
            margin-top: 10px;
            flex-direction: column;

            .specific-setting {
                display: flex;
                justify-content: right;
                align-items: center;

                input {
                    text-align: right;
                    margin-left: 2px;
                    flex-grow: 1;
                    max-width: 120px;

                    &[type="checkbox"] {
                        width: auto;
                        max-width: min-content;
                    }
                }
            }

            .array-setting {
                margin-bottom: 3px;
            }

            .add-row-button {
                margin-left: auto;
                margin-right: 0;
            }

            button {
                width: 28px;
                height: 28px;
                margin-left: 10px;
            }
        }
    }
}
