<section>
    <label for="name">{{localize "emissary.menu.addFaction.labels.name"}}: </label>
    <input type="text" name="name" id="name" required></input>
    <label for="repNumber">{{localize "emissary.menu.addFaction.labels.startingReputation"}}: </label>
    <input type="number" name="repNumber" id="repNumber" value="0" required></input>
</section>