<section>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required></input>
    <label for="repNumber">Starting Reputation: </label>
    <input type="number" name="repNumber" id="repNumber" value="0" required></input>
</section>