<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="faction-reputation">
    {{#each reputationData.faction}}
        {{> "modules/emissary/templates/reputation-tracker/partials/faction-item.hbs"}}
    {{/each}}
    <button class="{{#if isGM}}visible{{/if}}" id="add-faction" data-action="addFaction">Add Faction</button>
</section>