<footer class="form-footer">
    <button class="{{#if isGM}}visible{{/if}}" 
    id="add-entity" 
    data-action="addEntity">
        {{localize "emissary.menu.addEntity.titles.entity"}}
    </button>
</footer>

    